body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.wrap {
  width: 980px;
  margin: 0 auto;
}

header {
  height: 140px;
  margin-bottom: 15px;
  background-color: hsl(206, 30%, 9%);
}

main {
  width: 690px;
  height: 450px;
  background-color: hsl(206, 30%, 9%);
  float: right;
}

aside {
  width: 275px;
  height: 450px;
  background-color: hsl(206, 30%, 9%);
}

footer {
  height: 70px;
  margin-top: 15px;
  background-color: hsl(206, 30%, 9%);
}

h1 {
  font-size: 26pt;
  font-family: Verdana;
  font: bold;
}
