@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Martian+Mono:wght@800&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100&display=swap');
:root{
    --hlavni_barva:hsla(0,59%,41%,0.3);
    --barva_1:hsla(0,59%,41%,0.6);
    --barva_2:hsla(0,59%,41%);
    --barva_light:white;
    --hlavni_bg_barva:hsla(120,50%,80%);
    --bg_1:hsla(180,50%,80%);
    --bg_2:hsla(60,50%,80%);    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
input,
textarea,
button,
select{
    font: inherit;
}
#typography{
    background-color:var(--hlavni_bg_barva);
}
#typography>h2{
    text-shadow: 5px 5px 10px black ;
    
}
.zalomeni{
    line-height: 1.7;
    text-decoration: overline blue;
    
    
}
.zalomeni:hover{
    text-decoration: underline blue;
}
#lists{
    background-color:var(--bg_1);
}
#forms{
    background-color:var(--bg_2);
}
#table{
   /* background-image: url(https://source.unsplash.com/b0EzyHcXmsI);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
main{
    margin: auto;
    width: 90%;
    }
 h1,h2,h3,h4,h5,h6{
    margin: 1.5rem
 }   
p{
    margin: 1rem;
    padding: 0 2rem;
    
}
.pod{
    color: red;
    text-transform: uppercase;
    text-indent: 30px;
}


ul,ol,dl{
    margin: 1rem;
    padding: 0 2rem;
}
ol{
    list-style: lower-greek;
    background-color: bisque;
    border-width: 2px;
    border-style:solid;
    border-color: rgb(25, 0, 255);
}
ul li{
    background-color: #EEEEEE;
    border-style: solid;
    border-color:#DDDDDD ;
    padding: 5px 10px;
    list-style-position: inside;
    list-style-type: circle;
}
dl{
    border-left: 7px double red;
    
}
dt{
    color: red;
    float: left;
    font-weight: bold;
    text-align: right;

}
dt::after{
    content: ":";
    
}
dd{
    margin: 0 0 0 120px;
    padding: 0 0 0.5em 0;
}
.h1c{
    text-align: center;
}
.h2c{
    text-align: right;
}
.podH3{
    text-align: justify;
    font-family: 'Martian Mono', monospace;
}
.h3c{
    padding-left: 60px;
    font-family: 'Martian Mono', monospace;
}
.h4c{
    writing-mode:vertical-lr;
    text-orientation: upright;
    
}
h1{
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-family: 'Caprasimo', cursive;
}
span{
    color: green;
}
.prvky{
    column-count: 3;
    min-width: 150px;
}
kbd{
    color: white;
    background-color: teal;
    padding: 4px 6px;
    border-radius: 6px;
}
mark{
    color: white;
    background-color: teal;
    padding: 4px 6px;
    border-radius: 6px;
    background-image: linear-gradient(to right, orange,coral,purple);
}
code{    
    background-color:#eee ;
    padding: 4px 6px;
    border-radius: 6px;
    border:#999 1px;
    line-height: 3em;
}
blockquote p{
    border: 2px solid blue;
    border-radius: 20px;
    color: blue;
    font-size: x-large;
    padding: 30px;
    position: relative;
}
blockquote footer{
    color: black;
    font-size: 1.5rem;
    margin-left: 180px;
}
blockquote p::after{
    content: "" ;
    border-right: solid 2px;
    border-radius: 0 100% 0 0;
    border-top: solid 2px blue;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: -82px;
    left: 40px;
    
}
blockquote p::before{
    content: "" ;
    position: absolute;
    width: 100px;
    height: 7px;
    background-color:var(--hlavni_bg_barva);
    bottom: -7px;
    left: 40px;

}
table tr:nth-child(even){
    background-color: #999;
}
thead{
    background-color: orange;
    color: white;
}
table{
    border: 2px solid;
    border-collapse: collapse;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
table td{
    padding: 10px;
    font-weight: bold;
    border-color: black;
}

summary{
    background-color: blue;
    font-weight: bold;
    font-size: x-large;
    padding: 10px 35px;
    margin-bottom: 20px;
    list-style-type: none;
    clip-path: polygon(5% 0,100% 0,95% 100%,0% 100%);
}
summary::after{
    content: "+";
    color: white;
    float: right;
    
}
details[open] summary::after{
    content: "-";
}




