body{
    background-color: rgb(212, 212, 51);
        }

h1{
    color:brown;
    font-family: 'Courier New', Courier, monospace;
    
}

u{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:brown;
    font-size: large;
}